.dashboard-thidua {
  padding: 0 16px;
  @media (max-width: 480px) {
    padding: 0;
  }
  .table th,td{
    font-size: 12px;
  }
  .table-responsive {
    overflow-x: auto;
    @media (max-width: 480px) {
      overflow-x: hidden;
    }
    .table-frozen th,
    .table-frozen td {
      white-space: nowrap;
    }

    .table-frozen .sticky-col {
      position: sticky;
      left: 0;
      background-color: #fff;
      z-index: 1;
    }
  }
}
