.dashboard-kpi-dla {
  .table-kpi-dla {
    position: relative;
    font-size: 14px;
    width: 100%;
    overflow-x: auto; /* scroll ngang */
    overflow-y: visible; /* để sticky header hoạt động */
    max-height: 80vh; /* tùy chỉnh */

    table {
      table-layout: fixed;
      width: max-content;
      min-width: 100%;
      border-collapse: separate; /* RẤT QUAN TRỌNG */
      border-spacing: 0;

      /* CỘT 3 – Nội dung */
      .th-noidung,
      .td-noidung {
        position: sticky;
        left: 300px; /* 40 + 260 */
        z-index: 20;
        background: #fff;
      }
      .table-head {
        position: sticky; /* header đứng yên */
        top: 0;
        z-index: 100;
        background: white;
        th {
          border: 1px solid #797774;
          padding-left: 5px;
          text-align: center;
        }
        .th-title {
          width: 300px !important;
          min-width: 300px !important;
          max-width: 300px !important;
          white-space: nowrap;
          word-break: break-word;
          overflow: hidden;
          text-align: center;
        }
        .th-title-per {
          width: 80px !important;
          min-width: 80px !important;
          max-width: 80px !important;
          white-space: nowrap;
          word-break: break-word;
          overflow: hidden;
          text-align: center;
        }
        .th-title-dis {
          width: 100px !important;
          min-width: 100px !important;
          max-width: 100px !important;
          white-space: nowrap;
          text-wrap: wrap;
          overflow: hidden;
          text-align: center;
        }
        .th-stt {
          width: 40px !important;
          min-width: 40px !important;
          max-width: 40px !important;
          white-space: nowrap;
          word-break: break-word;
          overflow: hidden;
          text-align: center;
        }

        .th-color-yellow {
          background-color: #fae48f;
        }
        .th-color-brow {
          background-color: #e0b70b;
        }
      }
      tbody {
        td {
          text-align: end;
          border: 1px solid #a1988c;
          padding-left: 5px;
        }

        .td-stt {
          width: 40px !important;
          min-width: 40px !important;
          max-width: 40px !important;
          white-space: nowrap;
          word-break: break-word;
          overflow: hidden;
          text-align: center;
        }

        .td-content {
          width: 260px !important;
        }
        .td-kh {
          width: 80px !important;
        }
        .td-percent {
          width: 100px !important;
        }
      }

      // .td-full {
      //   width: 2480px !important;
      // }
      .td-title {
        text-align: left !important ;
        font-weight: 500;
      }
      .td-title-center {
        text-align: center !important;
        font-weight: 500;
      }
      .td-color-blue {
        background-color: #63d0f8;
      }
    }
    .table-fixed {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }
  }
  .table-kpi-dla .fix-col-1 {
    position: sticky;
    left: 0;
    z-index: 30;
    background: #fff;
  }

  /* CỘT 2 – Nhiệm vụ */
  .table-kpi-dla .fix-col-2 {
    position: sticky;
    left: 40px; /* = width cột 1 */
    z-index: 29;
    background: #fff;
  }

  /* CỘT 3 – KH / TH / %TH */
  .table-kpi-dla .fix-col-3 {
    position: sticky;
    left: 300px; /* 40 + 260 */
    z-index: 28;
    background: #fff;
  }
  .fix-col-1::before,
  .fix-col-2::before,
  .fix-col-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5px;
    height: 100%;
    background: #a1988c;
  }

  /* Border RIGHT */
  
  
  .fix-col-1,
  .fix-col-2,
  .fix-col-3 {
    border-left: none !important;
    border-right: none !important;
  }
}
