.dashboard-kpi-dla {
  .table-kpi-dla {
    position: relative;
    font-size: 14px;
    width: 100%;
    overflow-x: auto; /* scroll ngang */
    overflow-y: visible; /* để sticky header hoạt động */
    max-height: 80vh; /* tùy chỉnh */

    table {
      .table-head {
        position: sticky; /* header đứng yên */
        top: 0;
        z-index: 10;
        background: white;

        th {
          border: 1px solid #797774;
          padding-left: 5px;
          text-align: center;
        }
        .th-title {
          width: 300px !important;
          min-width: 300px !important;
          max-width: 300px !important;
          white-space: nowrap;
          text-wrap: wrap;
          overflow: hidden;
          text-align: center;
        }
        .th-title-per {
          width: 80px !important;
          min-width: 80px !important;
          max-width: 80px !important;
          white-space: nowrap;
          text-wrap: wrap;
          overflow: hidden;
          text-align: center;
        }
        .th-title-dis {
          width: 100px !important;
          min-width: 100px !important;
          max-width: 100px !important;
          white-space: nowrap;
          text-wrap: wrap;
          overflow: hidden;
          text-align: center;
        }
        .th-stt {
          width: 40px !important;
          min-width: 40px !important;
          max-width: 40px !important;
          white-space: nowrap;
          text-wrap: wrap;
          overflow: hidden;
          text-align: center;
        }

        .th-color-yellow {
          background-color: #fae48f;
        }
        .th-color-brow {
          background-color: #e0b70b;
        }
      }
      tbody {
        td {
          text-align: end;
          border: 1px solid #a1988c;

          padding-left: 5px;
        }

        .td-stt {
          width: 40px !important;
        }
        .td-content {
          width: 260px !important;
        }
        .td-kh {
          width: 80px !important;
        }
        .td-percent {
          width: 100px !important;
        }
      }

      // .td-full {
      //   width: 2480px !important;
      // }
      .td-title {
        text-align: left !important ;
        font-weight: 500;
      }
      .td-title-center {
        text-align: center !important;
        font-weight: 500;
      }
      .td-color-blue {
        background-color: #63d0f8;
      }
    }
    .table-fixed {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }
  }
}
